body {
  background-color: #e5e7eb;
  
}

.text {
  color: #F46A06;
}

.navbar-brand, .nav-link {
  font-weight: 600;
}

.title {
  color: #F46A06;
  font-weight: 600;
}

.nav-item:hover a {
  color: var(--bs-green); 
}